body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #110303;
    border: 1px solid #2e07f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.status {
    font-size: 1.5em;
    margin-bottom: 10px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #0b0a09;
    color: rgb(252, 249, 251);
    border: none;
    cursor: pointer;
}
